# Node
PORT=3333

# Prisma (Database)
DATABASE_URL="postgresql://user:password@host:port/database?schema=public"

# Redis (Cache)
REDIS_HOST="127.0.0.1"
REDIS_DB="1"
REDIS_PORT="6379"

# Auth (JWT)
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

# Upload (AWS / Cloudflare)
CLOUDFLARE_ACCOUNT_ID=""
AWS_BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY="" 
